av a {
    text-decoration: none;
    color: black;
    padding: 15px 10px;
 }
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
 }
 header a{
    color: black;
    text-decoration: none;
 }
 .intro {
    background-image: url(../images/mac.jpg);
    color: white;
    padding: 15%;
    
 }
  body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 .intro h1 {
    font-size: 55px;
 }
 .intro a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    margin: 18px;
 }
 .intro p {
    margin-bottom: 40px;
 }
 .about {
    text-align: center;
 }
 .box {
    display: flex;
    gap: 10px;
 }
 .img { 
        margin: 30px;
        border-radius:50px;
        

 }
 
 .desing{
    display: flex;
    gap: 60px;
    background-color: #f5f5dccb;
    padding-top: 10px;
    margin: 20px;
 }
.know{
    padding: 40px;
}
.desing a {
    text-decoration: none;
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 20px;
    border-radius: 100px;
    margin: 20px;
    
}

.title {
    text-align: center;
    font-size: 30px;
}
.chadow { 
   display: flex;
   justify-content: center;
   gap: 20px;
   padding: 20px;
}
.align { 
   background-color: white;
   border-radius: 10px;
   width: 250px;
   box-shadow: 0 4px 8px rgba(0,0, 0, 0.2) ;
   text-align: center;
   padding: 20px;
   margin-bottom:150px;
}
.align hover{ 
   transform: scale(1.03);
}
.align img { 
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 5px;
}
.button { 
   border: none;
   outline: none;
   padding: 10px 20px;
   margin-top: 15px;
   background-color: #f1f1f1;
   cursor: pointer;
   border-radius: 5px;
}
.button hover {
        background-color: #ddd;
}
.nomber { 
   display: flex;
   justify-content: space-around;
   background-color: #555;
   color: white;
   padding: 40px ;
   flex-wrap: wrap;
}
.stat { 
   text-align: center;
   margin:50px;
   margin-top: 0;
   margin-bottom: 0;
}
.stat h3 { 
   font-size: 36px;
   margin: 50;
}
.stat p { 
   margin: 5px 0 0 ;
   font-size: 14px;
   color: #ddd;
}
.photo { 
   text-align: center;
   margin-top:90px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   gap: 50%;
   margin-left: 1px;
   margin-right: 1px;
}
.photo img { 
      border-radius:20px;
      gap: 1px;
}                                        
 .skills-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
 background-color: #f5f5f5;
  flex-wrap: wrap;
  margin-top: 50px;
}

.skills-text {
  flex: 1 1 45%;
  padding-right: 30px;
}

.skills-bars {
  flex: 1 1 45%;
}

.skill {
  margin-bottom: 30px;

  
}

.skill label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight:bold;

}

.progress-bar {
  background-color: #ccc;
  height: 25px;
  border-radius: 4px;
  overflow: hidden;
 
}

.progress {
  background-color: #444;
  height: 100%;
  color: #fff;
  text-align: right;
  padding-right: 10px;
  line-height: 25px;
  font-size: 14px;
  flex-wrap: wrap;
}